<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>981585540799-oceskc3v8jemp8dnbnun5fqspn2mec9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981585540799-oceskc3v8jemp8dnbnun5fqspn2mec9u</string>
	<key>API_KEY</key>
	<string>AIzaSyARB72wbSS3vuC-JvfEqRL_19IPr7Wg8q0</string>
	<key>GCM_SENDER_ID</key>
	<string>981585540799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.SaaSiOS</string>
	<key>PROJECT_ID</key>
	<string>sleepasasymptom</string>
	<key>STORAGE_BUCKET</key>
	<string>sleepasasymptom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981585540799:ios:e4dc7a57b3629488</string>
	<key>DATABASE_URL</key>
	<string>https://sleepasasymptom.firebaseio.com</string>
</dict>
</plist>